.App {
  width: 72%;
  height: 100vh;
  margin: 0px auto 0px auto;
  background-image: url("./img/bg_gv.png");
}

.SunE-sidebar {
  width: 24%;
  height: 100%;
  background-color: #bbf4e6;
  .top {
    height: 14%;
    /* background-color: #f0f0f0; */
  }
  
  .middle {
    height: 75%; /* Chiếm không gian còn lại */
    /* background-color: black; */
  }
  
  .bottom {
    height: 11%; /* Chiếm không gian còn lại */
    /* background-color: wheat; */
  }
}

/* sunE-logo */
.sunE-logo {
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 128px;
}

.sunE-logo img {
  display: block;
  margin: 0 auto 0 auto;
  width:60%;
  height: auto;
}

/* MenuItem */
.MenuItem {
  display: block;          
  width: 90%;
  height: 60px;
  background-color: #bbf4e6;
  color: #707070;
  font-size: 16px;  padding: 12px 20px;
  margin: 10px auto 10px auto;
  border: none;
  border-radius: 16px;             
  cursor: pointer;                /* Thay đổi con trỏ thành biểu tượng tay */

  a { text-decoration: none; color: #404041; }
}
.MenuItem:hover {
  background-color: #ffffff;
}
.MenuItem .icon {
  margin-right: 10px;
  vertical-align: middle;
}

/* ico-active */
.ico-active {
  display: block;
  width: 27%;
  height: 100%;
  object-fit: cover;
  margin: auto 10% auto 15%;
}

.ico-active img {
  width: 60%;
  height: auto;
}

.btn-menu {
  height: 100%;
}

.vertical-align {
  display: flex;
  vertical-align: center;
  padding-top: 3px;
}

/* sunE-right-container */
.sunE-right-container {
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

/* Tiêu đề chính */
.sunE-main-title h2 {
  color: #00bbb5;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Box chứa các bài tập */
.sunE-container-box {
  display: flex;
  flex-direction: column;
}

/* Mỗi item của bài tập */
.student-exercise-item {
  padding: 15px;
  background-color: #ffffff;
  border: 3px solid #ddd;
  border-radius: 24px;
  width: 90%;
  margin: 0 auto 20px auto;
}

.student-exercise-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-difficulty {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  display: inline-block;
  margin-bottom: 10px;
}

.exercise-difficulty.medium {
  color: #ffffff;
  background: linear-gradient(to right, rgb(0, 185, 183), rgb(0, 225, 160));
}

.sunE-form-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(to right, rgb(0, 185, 183), rgb(0, 225, 160));
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 780px;
}

.sunE-form-button:hover {
  background-color: #285a9b;
}

.student-exercise-item-context {
  border-bottom: 1px black;
}

.student-exercise-item-context {
  border-bottom: 1px solid black;
}

.student-exercise-item-context a{
  text-decoration: none;
  color: black;
}