.font-myriad-bold {
    font-family: Myriad Pro;
    font-weight: bold;
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-clumn {
    display: flex;
    flex-direction: column;
}

.jc-right {
    justify-content: flex-end;
}

.jc-left {
    justify-content: flex-start;
}

.jc-between {
    justify-content: space-between;
}

.scroll {
    max-height: calc(100vh - 200px);
    overflow: auto;
    /* WIP */
}
  
.block {
    display: block;
}

.one-line {
    white-space: nowrap;
}

/* To fit or to make all box equal in width */
.flex-1 {
    flex-grow: 1;
    width: 0;
}

.space-aligned {
    display: flex;
    justify-content: space-between; /* Căn 2 phần tử ở 2 bên */
    align-items: center; /* Căn giữa theo chiều dọc nếu cần */
    width: 100%; 
}

.content-display {
    
}
